.icon {
  --size: var(--icon-size, 1rem);
  background-color: currentColor;
  display: inline-block;
  flex-shrink: 0;
  height: var(--size);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;
  vertical-align: middle;
  width: var(--size);
}

// The icon class is applied directly to SVGs sometimes. This
// override un-breaks those.
svg.icon {
  background: transparent;
  color: var(--icon-primary);
}

.icons-highlighted {
  align-items: center;
  display: flex;
  flex-direction: column;

  > span {
    height: var(--icon-size);
    line-height: 0;
    width: var(--icon-size);

    &.icons-icon-wrapper {
      margin-top: -0.1rem;
    }
  }
}
